@font-face {
	font-family: Epi;
	src: url("./Helvetica.ttf");
}
:root {
	--sm-shape-size: 3rem;
	--md-shape-size: 4.5rem;
	--lg-shape-size: 6rem;
}
*,
*::before,
*::after {
	margin: 0;
	box-sizing: border-box;
	padding: 0;
	font-family: Epi;
	-webkit-font-smoothing: antialiased;
}
body {
	background-color: #83ffe7;
	font-family: Arial, sans-serif;
}
@media all and (min-width: 768px) {
	body {
		overflow: hidden;
	}
}
.v-main-wrapper {
	min-height: 100vh;
	min-height: 100dvh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	padding-inline: 1rem;
}
.shapes-layer {
	position: absolute;
	inset: 0;
	z-index: -1;
}
.shapes-layer .shape {
	position: absolute;
	z-index: -1;
	user-select: none;
	pointer-events: none;
	background-color: rgb(73, 208, 181);
	box-shadow: rgba(83, 235, 205, 1) 5px 8px 24px;
	animation: rotate 30s ease-in-out infinite;
}
@keyframes rotate {
	from {
		transform: rotate(0);
	}
	to {
		transform: rotate(360deg);
	}
}
.shapes-layer .sm {
	width: var(--lg-shape-size);
	height: var(--lg-shape-size);
}
.shapes-layer .circle {
	clip-path: circle(50% at 50% 50%);
}
.shapes-layer .octagon {
	clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
	top: 50%;
	left: 20%;
}
.shapes-layer .c-one {
	right: 0;
	top: 10%;
}
.shapes-layer .c-two {
	right: 0;
	left: 10%;
}
.shapes-layer .t-one {
	right: 20%;
	bottom: 50%;
	transform: rotate(67deg);
}
.shapes-layer .t-two {
	right: 1rem;
	bottom: 2rem;
	transform: rotate(67deg);
}
.shapes-layer .pentagon {
	clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
	bottom: 1rem;
	left: 23%;
	transform: rotate(35deg);
}
.shapes-layer .triangle {
	clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
.v-main-wrapper .bg-layer-image {
	position: absolute;
	inset: 0;
	z-index: -2;
}
.img-fluid {
	height: auto;
	max-width: 100%;
}
.v-board-title-container {
	max-width: 500px;
}
#game {
	text-align: center;
	display: flex;
	flex-direction: column;
	min-width: 100px;
	width: 100%;
	max-width: 600px;
	min-height: 500px;
	background-color: white;
	padding: 1rem;
	border-radius: 5px;
	justify-content: center;
	row-gap: 0.5rem;
	align-items: center;
}

.board-title {
	font-weight: 900;
	font-size: 30px;
	display: block;
	text-align: center;
}
#timer,
#score {
	margin-top: 10px;
}
#start-button {
	all: unset;
	background-image: linear-gradient(rgba(255 255 255 / 0.9), 15%, rgba(0 0 0));
	cursor: pointer;
	border-radius: 4px;
	padding: 1rem 3rem;
	color: #fff;
	font-size: 0.9rem;
	font-weight: 500;
	cursor: pointer;
}
#word-input {
	min-height: 3rem;
	border: 1px solid rgba(0 0 0 / 0.2);
	padding: 0 10px;
	font-size: 0.9rem;
	min-width: 300px;
	border-radius: 5px;
	transition: 300ms ease-in-out;
	margin-top: 10px;
}
#word-input:focus {
	outline: none;
	border-color: rgba(0 0 0 / 0.5);
}
